#wled-layout .wled-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wled-row .led-node {
  flex: 1 1 0px;
  border: 1px solid #f0f0f0;
  text-align: center;
  aspect-ratio: 1/.8;
  max-width: 50px;
  cursor: pointer;
}

.sketch-picker {
  margin: auto;
}

/* override for bootstrap tooltip so it would stay visible */
.tooltip-inner {
  background-color: #f0f0f0;
  color: #000000;
}