body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

}

pre.rest-payload {
  word-wrap: break-word;
  white-space: pre-wrap;
  border: 1px solid #f0f0f0;
  background-color: #f0f0f0;
  padding: 15px;
  margin-top: 15px;
}